body {
  background-color: lightgreen;
}

img {
  display: block;
  width: 50%;
  margin: 20px auto;
}

.container1 {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

main  {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}

h1 {
  text-align: center;
  color: darkkhaki;
}

nav {
  text-align: center;
  background-color: darkorchid;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  width: 90px;
  height: 10px;
  text-decoration: none;
  color: white;
  padding: 20px;
  background-color: darkturquoise;
}

nav a:hover {
  background-color: darkslategray;
  color: turquoise;
}

article, aside {
  padding: 20px;
  margin: 10px;
  border: solid 2px darkslategray;
  border-radius: 10px;
}

article {
  width: 70%;
}

aside {
  width: 25%;
}

.single_column {
  display: block;
}

.single_column img {
  display: block;
  width: 100%;
  margin: 20px auto;
}

@media (min-width: 924px) {
  .container1 {
    width: 80%;
  }

  main {
    width: 70%;
    background-color: thistle;
  }

  .single_column {
    display: flex;
  }

  .single_column img {
    width: 50%;
  }
}